.header {
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 1s, opacity 1s;
  &.show-treba {
    opacity: 1;
    transform: translateY(0);
  }
}

.welcome-image {
  opacity: 0;
  left: -50px;
  transition: left 1s, opacity 1s;
  &.show-treba {
    opacity: 1;
    left: 0;
  }
}

.welcome-title {
  opacity: 0;
  transform: translateY(50%);
  transition: transform 1s, opacity 1s;
  &.show-treba {
    opacity: 1;
    transform: translateY(0);
  }
}
.welcome-description {
  opacity: 0;
  transform: translateY(100%);
  transition: transform 1s, opacity 1s;
  &.show-treba {
    opacity: 0.75;
    transform: translateY(0);
  }
}

.welcome-btn {
  opacity: 0;
  transform: translateX(20%);
  transition: transform 1s, opacity 1s;
  &.show-treba {
    opacity: 1;
    transform: translateX(0);
  }
}