.btn-primary {
  position: relative;
  overflow: hidden;
  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
    background-color: #ffffff;
    transform: translateX(-100%);
    transition: transform 0.35s;
  }
  &:hover {
    &:before {
      transform: translateX(0);
    }
  }
}

.home .swiper-cases {
  padding-right: 10%;
}