@import 'mixins';
@import 'header';
@import 'footer';
@import 'modals';
/* Buttons, */
@import 'components';
@import 'animation';

body {
  scroll-behavior: smooth;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	line-height: 1.25;
	font-weight: 300;
}

a {
	outline: none;
	cursor: pointer;
	transition: color .3s;
	&:hover {
		color: #d69928;
	}
}

.divider {
	background-image: url('../../images/divider.svg');
	background-size: contain;
}

.content {
	h2, h3, h4, h5 {
		font-family: 'Roboto Condensed', sans-serif;
		text-transform: uppercase;
	}
	ul {
		margin-bottom: 2rem;
		li {
			position: relative;
			padding-left: 1.5rem;
			margin-bottom: 1rem;
			&:before {
				content: '';
				width: 0.75rem;
				height: 0.75rem;
				position: absolute;
				top: 50%; left: 0;
				transform: translateY(-40%);
				background-color: #d69928;
			}
		}
	}
	ol {
		margin-bottom: 2rem;
		counter-reset: item;
		li {
			position: relative;
			counter-increment: item;
			padding-left: 2rem;
			margin-bottom: 1rem;
			&:before {
				content: counter(item);
				font-family: "Roboto Condensed", sans-serif;
				width: 0.75rem;
				height: 0.75rem;
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				top: 0; left: 0;
				transform: translateY(-45%);
				background-color: #d69928;
				padding: 0.75rem;;
			}
		}
	}
	
}

[class*=" icon-"], [class^=icon-] {
	font-family: icomoon!important;
	speak: never;
	font-style: normal;
	font-weight: 400;
	-webkit-font-feature-settings: normal;
	-moz-font-feature-settings: normal;
	font-feature-settings: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.font-title {
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
}

.menu {
	&-trigger {
		font-size: 36px;
		color: #00b7bd;
		margin-right: 20px;
		margin-bottom: 10px;
	}
}

.welcome-image {
	width: 100%;
	height: 475px;
	background-image: url('../../images/welcome-bg.jpeg');
	background-size: cover;
  background-position: 50% 100%;
}

.stroke-text {
	color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #ffffff;
}

.custom-list {
	li {
		@apply text-lg;
		position: relative;
		padding-left: 2rem;
		margin-bottom: 1rem;
		&:before {
			content: '';
			width: 1rem;
			height: 1rem;
			position: absolute;
			top: 0.35rem; left: 0;
			background-color: #d69928;
		}
	}
}

.lang {
	&-item {
		list-style-type: none;
		a {
			border-radius: 0.5rem;
			padding: 0.5rem;
		}
		&.current-lang  {
			a {
				border: 1px solid #d69929;
			}
		}
	}
}

.aromabussiness-item {
	&__parent {
		position: relative;
		z-index: 1;
		&:after {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0; top: 0;
			background-color: #d69928;
			border-radius: 1rem;
			z-index: -1;
			transition: transform 0.5s;
		}
		&:hover {
			&:after {
				transform: translate(5px, 5px);
			}
		}
	}
	&__child {
		display: none;
	}
	&.show {
		.aromabussiness-item__child {
			display: flex;
		}
	}
}

.case {
	&-item {
		&:after {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0; left: 0;
			background-color: #d69928;
			border-radius: 1rem;
			z-index: -1;
			transition: transform 0.5s;
			transform: translate(5px, 5px);
		}
		&:hover {
			&:after {
				transform: translate(0px, 0px);
			}
		}
	}
}

.blog {
	&-card {
		&__description {
			position: relative;
			&:after {
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0; left: 0;
				background: linear-gradient(to bottom, transparent, #17171a);
			}
		}
	}
}

.products {
	&-tabs {
		&::-webkit-scrollbar {
			width: 0;
			background: transparent;
		}
	}
}